{% extends '_layouts/components' %}

{% set type = 'footer' %}

{% set logo = general.logo.one() ?? null %}
{% set links = general.links.all() %}

{% block customCp %}
  <footer class="footer pb-2">
    <div class="footer__body pb-2">
      <div class="container">
        <div class="row gx-3 gy-0">
          <div class="col-12 col-md-6 p-3">
            <a href="{{ siteUrl() }}">
              <img
                height="250"
                width="250"
                src="{{ logo.url }}"
                alt="{{ logo.title }}"
                class="img-fluid"
                loading="lazy"
              />
            </a>
            {% if (links|length) > 0 %}
              <ul
                class="not-list-bullets m-0 p-0 d-flex flex-wrap justify-content-start"
              >
                {% for item in links %}
                  {% set link = item.fieldLink ?? null %}
                  {% if link %}
                    <li class="mx-2 my-1">
                      <a href="{{ link.url }}" class="text-dark">
                        {{ item.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}

                {# <li class="mx-2 my-1"> #}
                {# <a href="" class="text-dark">Términos y condiciones</a> #}
                {# </li> #}
              </ul>
            {% endif %}
          </div>
          <div class="col-12 col-md-4 ms-auto p-3">
            <p class="subtitle my-3">
              Contacto
            </p>
            <ul class="p-0 m-0 not-list-bullets">
              <li>
                📧 Correo electrónico: <a href="mailto:lalonso.dev@gmail.com">lalonso.dev@gmail.com</a>
              </li>
              <li>
                🌐 Sitio web: <a href="https://lalonso.dev" target="_blank" rel="noreferrer noopener">https://lalonso.dev</a>
              </li>
              <li>
                💬 WhatsApp: <a href="https://wa.me/524432575844?text=Hola%2C%20quiero%20contribuir%20con%20partituras%20para%20Ra%C3%ADces%20Calentanas." target="_blank" rel="noreferrer noopener">Enviar
                  mensaje por WhatsApp</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container pb-2 pt-3">
      <p class="footer__end text-center text-white my-1">
        Copyright © 2025 | Desarrollado por <a href="https://lalonso.dev/es/" rel="nofollow" target="_blank">lalonso.dev</a>
      </p>
    </div>
  </footer>
{% endblock %}
