{# Queries #}
{% set entries = craft.entries().section('ResourceEntries').limit(8).level(1) %}
{% set authors = craft.categories().group('authors').all() %}
{% set contentTypes = craft.categories().group('contentType').all() %}
{% set genderSheets = craft.categories().group('gender').all() %}
{% set difficulties = [
  {
    label: 'Principiante',
    value: 'beginner'
  },
  {
    label: 'Intermedio',
    value: 'intermediate'
  },
  {
    label: 'Avanzado',
    value: 'advanced'
  }
] %}

{# Variables sprig #}
{% set search = search ?? '' %}
{% set page = page ?? 1 %}
{% set sortBy = sortBy ?? 'postDate desc' %}
{% set author = author ?? '' %}
{% set contentType = contentType ?? '' %}
{% set gender = gender ?? '' %}
{% set difficulty = difficulty ?? '' %}

{# Filters #}
{% if (author|length) > 0 %}
  {% do entries.autorSheet(author) %}
{% endif %}

{% if contentType %}
  {% do entries.contentType(contentType) %}
{% endif %}

{% if (gender|length) > 0 %}
  {% do entries.gender(gender) %}
{% endif %}

{% if (difficulty|length) > 0 %}
  {% do entries.difficulty(difficulty) %}
{% endif %}

{% if (search|length) > 0 %}
  {% do entries.search('*' ~ search ~ '*') %}
{% endif %}

{% set pageInfo = sprig.paginate(entries, page) %}
{% set sheets = pageInfo.pageResults %}

{% set dynamicPages = pageInfo.getDynamicRangeUrls(3) %}
{% set totalPages = pageInfo.totalPages %}

<div
  class="resources__banner d-flex flex-column justify-content-end align-items-center"
>
  <div class="container">
    <div
      class="resources__body position-relative px-3 py-4 d-flex flex-column justify-content-center align-items-start text-center"
    >
      <div class="col-11 col-md-6 mx-auto">
        <h1 class="mb-0 mt-0 title-2 py-3">{{ title }}</h1>
        <form class="row pb-4">
          <div class="col-12">
            <div class="form-floating">
              <input
                sprig
                type="text"
                name="search"
                placeholder=""
                class="form-control"
                s-trigger="keyup changed delay:350ms"
                s-select="#body-results"
                s-target="#body-results"
                s-swap="outerHTML"
                autocomplete="off"
                value="{{ search }}"
              />
              <label for="search">
                Busca: Sones, Marchas, Gustos, Foxes, etc.
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="resources__grid my-4 py-4">
  <div class="container">
    <p class="subtitle mt-0 mb-3">
      Filtrar por
    </p>
    <form class="row g-3">
      <div class="col-6 col-md-4 col-lg-3">
        <div class="form-floating">
          <select
            class="form-select"
            id="author"
            name="author"
            sprig
            s-select="#body-results"
            s-target="#body-results"
            s-swap="outerHTML"
          >
            <option selected value="">
              Seleccione una opción
            </option>
            {% for item in authors %}
              <option value="{{ item.id }}">
                {{ item.title }}
              </option>
            {% endfor %}
          </select>
          <label for="author">Autor</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="form-floating">
          <select
            sprig
            s-select="#body-results"
            s-target="#body-results"
            s-swap="outerHTML"
            name="contentType"
            class="form-select"
            id="contentType"
          >
            <option selected value="">
              Seleccione una opción
            </option>
            {% for item in contentTypes %}
              <option value="{{ item.id }}">
                {{ item.title }}
              </option>
            {% endfor %}
          </select>
          <label for="contentType">Tipo de contenido</label>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <div class="form-floating">
          <select
            sprig
            s-select="#body-results"
            s-target="#body-results"
            s-swap="outerHTML"
            name="gender"
            class="form-select"
            id="gender"
          >
            <option selected value="">
              Seleccione una opción
            </option>
            {% for item in genderSheets %}
              <option value="{{ item.id }}">
                {{ item.title }}
              </option>
            {% endfor %}
          </select>
          <label for="gender">Géneros</label>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="form-floating">
          <select
            sprig
            s-select="#body-results"
            s-target="#body-results"
            s-swap="outerHTML"
            name="difficulty"
            class="form-select"
            id="difficulty"
          >
            <option selected value="">
              Seleccione una opción
            </option>
            {% for item in difficulties %}
              <option value="{{ item.value }}">
                {{ item.label }}
              </option>
            {% endfor %}
          </select>
          <label for="gender">Dificultad</label>
        </div>
      </div>
    </form>

    <div id="body-results">
      {% if (sheets|length) > 0 %}
        <div class="row gy-4 gx-3 my-2 py-3">
          {% for item in sheets %}
            <div class="col-12 col-ms-6 col-md-4 col-lg-3">
              {% include 'partials/featuredCard/' with {
                sheet: item
              } %}
            </div>
          {% endfor %}
        </div>

        <ul
          class="not-list-bullets d-flex gap-3 align-items-center justify-content-center my-5"
        >
          <li>
            <button
              sprig
              s-select="#body-results"
              s-target="#body-results"
              s-swap="outerHTML"
              s-val:page="{{ page > 1 ? page - 1 : 1 }}"
              class="btn btn-outline-info d-flex align-items-center justify-content-center"
              role="button"
              {{ page == 1 ? 'disabled' }}
            >
              Anterior
            </button>
          </li>

          {% for pageNumber, aux in dynamicPages %}
            <li>
              {% if pageNumber == page %}
                <button
                  class="btn btn-secondary px-2 py-1 d-flex align-items-center justify-content-center active"
                  role="button"
                >
                  {{ pageNumber }}
                </button>
              {% else %}
                <button
                  sprig
                  s-select="#body-results"
                  s-target="#body-results"
                  s-swap="outerHTML"
                  s-val:page="{{ pageNumber }}"
                  class="btn btn-secondary px-2 py-1 d-flex align-items-center justify-content-center"
                  role="button"
                >
                  {{ pageNumber }}
                </button>
              {% endif %}
            </li>
          {% endfor %}

          {% if page < totalPages %}
            <li>
              <button
                sprig
                s-select="#body-results"
                s-target="#body-results"
                s-swap="outerHTML"
                s-val:page="{{ page < totalPages ? page + 1 : totalPages }}"
                class="btn btn-outline-info d-flex align-items-center justify-content-center"
                role="button"
                {{ page == totalPages ? 'disabled' }}
              >
                Siguiente
              </button>
            </li>
          {% endif %}
        </ul>
      {% else %}
        <p class="text-center my-4 py-4 global-text">
          No se encontraron resultados de la busqueda ...
        </p>
      {% endif %}
    </div>
  </div>
</div>
