{% extends '_layouts/components' %}

{% set type = type ?? 'resourceCategories' %}

{% set subtitle = _block.tag ?? '' %}
{% set title = _block.itemTitle ?? '' %}
{% set description = _block.description ?? '' %}
{% set link = _block.fLink ?? null %}
{% set categories = craft.categories().group('gender').limit(5).all() %}

{% block cpContent %}
  {% if (categories|length) > 0 %}
    <div class="row">
      <div class="col-12 col-md-8">
        {% if subtitle %}
          <p class="mb-0 global-text">
            {{ subtitle }}
          </p>
        {% endif %}
        {% if title %}
          <h2 class="my-1 title-2">{{ title }}</h2>
        {% endif %}
        {% if description %}
          <p class="mt-0 global-text col-lg-8">
            {{ description }}
          </p>
        {% endif %}
      </div>
      <div
        class="col-12 col-md-4 d-flex flex-column align-items-end justify-content-end pb-3"
      >
        {% if link and not link.isEmpty() %}
          {{
            link.getLink({
              class: 'btn btn-outline-danger px-4 py-2'
            })
          }}
        {% endif %}
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 col gx-3 gy-4 py-3">
      {% for category in categories %}
        {% set num = loop.index0 % 2 == 0 ? 1 : 2 %}
        {% set class = loop.index0 % 5 + 1 %}
        <div class="col">
          <a
            href="{{ category.url }}"
            class="d-flex flex-column justify-content-center align-items-center position-relative resourceCategories__card text-center px-1 py-4"
            style="--bg-color-card: var(--bg-card-{{ class }})"
          >
            <img
              loading="lazy"
              width="200"
              height="240"
              src="/assets/images/tp-{{ num }}.webp"
              alt="tp-{{ num }}"
              class="resourceCategories__image"
            />
            <p class="mb-2 mt-3 resourceCategories__card--title">
              {{ category.title|upper }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
